* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 65rem;
  margin: 0 auto;
  padding: 0 1.6rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

footer {
  color: #888;
  border-top: 1px solid #eee;
  margin-top: 1.6rem;
  padding: 1.6rem 0;
}
header {
  margin-top: 1.6rem;
  margin-bottom: 4.8rem;
}
h1 {
  font-size: 6.4rem;
  margin-bottom: 1.6rem;
}
ul {
  list-style: none;
  display: flex;
}
ul li a {
  padding: 1.2rem 2.4rem;
  color: #333;
  text-decoration: none;
  transition: 0.2s;
  font-size: 1.6rem;
}
li {
  font-size: 1.8rem;
}

a:hover {
  background-color: #333;
  color: #eee;
}
.portrait {
  width: 100%;
}
.main-content {
  flex-grow: 1;
}
